# Environment Variables Example
# This file serves as a template for environment-specific configurations.
# Since this is a static project, these are typically integrated into scripts.

# Google Analytics ID
GA_TRACKING_ID=UA-45882697-3

# Typeform UID
TYPEFORM_ID=wYuwuI
